<h1>About Zombie News</h1>

<p>Zombie news is an app created by Christopher Savage for pulling tweets matching the hashtag #zombies from Twitter's API and restyling them.</p>

<%= link_to "Back to Zombie News", root_path %>